 .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
    }

    .image-box {
      width: calc(100% / 6 - 20px); /* Adjusted width to fit 6 images in one row */
      box-sizing: border-box;
      margin: 5px;
      transition: transform 0.3s ease-in-out;
      overflow: hidden;
      position: relative;
    }

    .image-box img {
      width: 100%;
      height: auto;
      display: block;
      transition: transform 0.3s ease-in-out;
    }

    .image-box:hover {
      transform: translateY(-10px) scale(1.1);
    }

    h1 {
     text-align: center;
     margin: 20px 0;
    }

