body{
background-color: pink;
margin: 0;
font-family: Algerian, Helvetica, sans-serif;
display: flex;
flex-direction: column;
min-height: 100vh;
}


.title{
font-family: Algerian;
font-size:  50px;
text-align: center;
font-weight: bold;
color:  #a569bd;
}


.subtitle{
font-family: Arial;
font-size:  30px;
text-align: center;
font-weight: bold;
color:   #ef8ec7;
}

 

.topnav {
  overflow: hidden;
  background-color: #CCCCFF;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color:  black;
}

.topnav a.active {
  background-color:  #39e8e0;
  color: black;
}


.copyright-container {
            text-align: center;
            margin-top: 20px;
            padding: 10px 0;
            background-color: #CCCCFF;


